<div class="jumbotron">
	<h1>Welcome {{forumCtrl.curUser.username}}!</h1>
	<p>This is a the main forum listing. You will find all forums for this category below. Please click a forum to see the posts within it. If you have any questions, please feel 
	free to add them to a forum. Please keep postings on topic and civil. If you need any help with exceptions, please post your stack trace, and any links you have followed
	in trying to solve the exception so far. If needed, post your offending code and background of the problem as well.</p>

</div>


<div class="row col-lg-12">
	<div class="well">

		<table class="table table-striped table-hover">

			<tr>

				<th>Title</th>
				<th>Author</th>
				<th>Date Created</th>

			</tr>

			<tr ng-repeat="forum in forumCtrl.forums.list">

				<td style="word-wrap: break-word;"><a ui-sref="forum.detail({forumId:forum.id})">{{forum.title}}</a></td>
				<td>{{forum.author}}</td>
				<td>{{forum.created}}</td>

			</tr>

		</table>

		<hr>
		<div>
		  <ul class="pagination">
		    <li ng-cloak ng-class="{'disabled' : forumCtrl.currentPage == 0}"><a href="#" ng-click="forumCtrl.currentPage == 0||forumCtrl.prevPage()">Prev</a></li>
		    <li ng-repeat="pageNumber in forumCtrl.pages" ng-class="{'active' : forumCtrl.currentPage == $index}"><a href="#" ng-click="forumCtrl.retrieveForumsByPage(pageNumber)">{{pageNumber+1}}</a></li>
		    <li ng-cloak ng-class="{'disabled' : forumCtrl.currentPage == forumCtrl.pages.length-1}"><a href="#" ng-click="forumCtrl.currentPage == forumCtrl.pages.length-1||forumCtrl.nextPage()">Next</a></li>
		  </ul>
		</div>
		<span class="btn btn-primary" ng-click="forumCtrl.toggleAddForum()">Toggle Add Forum</span>
	</div>
</div>
<div class="row col-lg-12" ng-show="forumCtrl.addForumToggle">

	<div class="well">
	
		<h1>Create a Forum</h1>
		
		<div class="help-block" ng-messages="forumForm.title.$error" ng-if="forumForm.title.$touched">
			<div ng-message="required" class="alert alert-warning">Title is required.</div>
			<div ng-message="maxlength" class="alert alert-warning">Title must be less than 36 characters</div>
		</div>
		
		<!-- 
			Add in error message to show for text field. Also, figure out how to reset $pristine on form.
		 -->

		<form class="form-horizontal" novalidate name="forumForm" ng-submit="forumCtrl.doAdd()">
			<fieldset>
				<div class="form-group">
					<label for="title" class="col-lg-2 control-label">Title</label>
					<div class="col-lg-10">
						<input class="form-control" name="title"
							id="title" placeholder="Title" type="text" ng-model="forumCtrl.forum.title" ng-required="true" ng-maxlength="36">
					</div>
				</div>
				<div class="form-group">
					<label for="text" class="col-lg-2 control-label">Text</label>
					<div class="col-lg-10">
					<text-angular ng-model="forumCtrl.forum.posts[0].text" 
								name="forumForm.text" 
								ta-text-editor-class="border-around" 
								ta-html-editor-class="border-around" 
								ng-required="true"></text-angular>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="reset" class="btn btn-default">Cancel</button>
						<button type="submit" class="btn btn-primary" ng-disabled="forumForm.$invalid">Submit</button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>

</div>
<div ui-view autoscroll="true">
</div>