<div class="row col-md-12">
	<div class="well" ng-repeat="forum in forumDetailCtrl.forums.list"
		ng-if="forumDetailCtrl.curForumId == forum.id">

		<h1>{{forum.title}}</h1>

		<div ng-repeat="post in forum.posts">

			<div>
				<span></span> <span></span>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">{{post.author}} - {{post.created}}</h3>
				</div>
				<div class="panel-body" style="word-wrap: break-word;" ng-bind-html="post.text"></div>
			</div>

		</div>

	</div>
</div>
<div class="row col-md-12">
	<div class="well">

		<h1>Reply to Forum</h1>
		
		<!-- 
			Add in message for showing text field error messages.
		 -->

		<form class="form-horizontal" name="postForm"
			ng-submit="forumDetailCtrl.addPost()">
			<fieldset>
				<div class="form-group">
					<p class="help-block" ng-show="postForm.text.$invalid && !postForm.text.$pristine">Please add a post to your forum.</p>
					<text-angular ng-model="forumDetailCtrl.post.text" name="postForm.text" ta-text-editor-class="border-around" ta-html-editor-class="border-around" ng-required="true"></text-angular>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="reset" class="btn btn-default">Cancel</button>
						<button type="submit" class="btn btn-primary" ng-disabled="postForm.$invalid">Submit</button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>
</div>